jupyterlab==3.2.4
kmodes==0.12.1
matplotlib==3.5.0
openpyxl==3.0.9
plotly==5.2.1
scipy==1.7.2
seaborn==0.11.2
shap==0.40.0
statsmodels==0.13.1
xgboost==1.5.0
pandas==2.0.0
Flask==2.2.3
streamlit==1.21.0
numpy==1.24.2
scikit-learn==1.2.2
